<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">elorrieta</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:33060/elorBase</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property> 
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <!-- Configuraciones de las entidades -->
        <mapping resource="com/elorBase/server/elorBaseServer/dataBase/entity/Profesor.hbm.xml"/>
        <mapping resource="com/elorBase/server/elorBaseServer/dataBase/entity/Horarioreunion.hbm.xml"/>
        <mapping resource="com/elorBase/server/elorBaseServer/dataBase/entity/Solicitud.hbm.xml"/>
        <mapping resource="com/elorBase/server/elorBaseServer/dataBase/entity/Asignatura.hbm.xml"/>
        <mapping resource="com/elorBase/server/elorBaseServer/dataBase/entity/Cicloformativo.hbm.xml"/>
        <mapping resource="com/elorBase/server/elorBaseServer/dataBase/entity/Horario.hbm.xml"/>
        <mapping resource="com/elorBase/server/elorBaseServer/dataBase/entity/Alumno.hbm.xml"/>
        <mapping resource="com/elorBase/server/elorBaseServer/dataBase/entity/Formacion.hbm.xml"/>
        <mapping resource="com/elorBase/server/elorBaseServer/dataBase/entity/Matriculacion.hbm.xml"/>
        <mapping resource="com/elorBase/server/elorBaseServer/dataBase/entity/Reunion.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
